* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: radial-gradient(circle, rgb(231, 229, 229), rgb(126, 123, 123));
}

#displayAreaWithArrows {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    box-shadow: 3px 10px 0.5rem rgb(92, 91, 91);
    background-color: white;
    margin-bottom: 5% /*2rem*/;
}

#mainArea {
    height: 100%;
    width: 90%;
    /* flex-grow: 15; */
    position: relative;
}

#pic {
    object-fit:cover;
    height: 100% /*28.5rem*/;
    width: 99.5% /*41rem*/;
}

#navigation_left, #navigation_right {
    /* flex-grow: 1; */
    width: 5%;
    cursor: pointer;
}

#arrow_left, #arrow_right {
    width: 90%;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.8);
    padding: 2%;
    width: 95.5% /*39rem*/;
}

h3 {
    padding-bottom: 1.5% /*0.5rem*/;
    color: white;
}
p {
    color:gainsboro;
}

#thumbnails {
    text-align: center;
}
#thumbnails img {
    object-fit: cover;
    height: 90% /*4.5rem*/;
    width: 5% /*4.5rem*/;
    border: 3px solid rgba(247, 244, 244, 0.5);
    cursor: pointer;
}

.active_thumbnail {
    box-shadow: 0 10px 10px -5px black;
    position: relative;
}

.active_triangle {
    content: "";
    position: absolute;
    bottom: 410% /*for my screen: 470%*/;
    left: 22% /*for my screen: 35%*/;
    border: 25px solid transparent;
    border-bottom-color: white;
}

#title0, #title1, #title2, #title3, #title4, #title5, #title6, #title7, #title8, #title9, #title10, #title11, #title12 {
    padding: 3px 5px;
    color: white;
    font-size: smaller;
    background-color: black;
    box-shadow: 0 5px 10px -5px black;
    position: absolute;
    top: -127px;
    left: 20px;
}