body {
  width: 100%;
  background-color: black;
}

main, header {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

header {
  position: fixed;
  top: 0;
  left: 10%;
  width: 80.5%;
  z-index: 100;
}

main {
  margin-top: 89px;
}

nav {
  width: 100%;
  height: 120px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-family: 'Baloo Da 2', cursive;
}
a:hover {
  color:burlywood;
}

blockquote {
  width: 550px;
  margin: 0 30px 50px 0;
  padding: 60px;
  padding-top: 100px;
  padding-left: 50px;
  background-color: #444444;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  font-weight: bolder;
  line-height: 150%;
  text-align:start;
}
blockquote::before {
  content: '“';
  font-size: 300px;
  background-color: "transparent";
  color: white;
  font-family: 'Coustard', serif;
}

section {
  display: flex;
  padding-bottom: 100px;
  padding-top: 0;
}

article {
  padding: 20px 50px 0 30px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 30px;
}

h6, h5, h4, h3, li {
  font-family: 'Baloo Da 2', cursive;
  font-stretch: extra-expanded;
  line-height: 180%;
  font-weight: 200;
}

h6, li {
  font-size: 25px;
  }

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
section#Bio ul li {
  font-size: 35px;
}
h5.italic.bold {
  margin-top: 0;
}
h4:not(.uppercase) {
  margin-bottom: 0;
}

img {
  width: 660px;
  opacity: 0.8;
  padding-top: 0;
  z-index: -100;
}
div#textWithinPicture {
  width: 350px;
  position: absolute;
  top: 600px;
  left: 500px;
}
div#textWithinPicture h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 100px;
  line-height: 100%;
  margin-top: 0;
  font-weight: 100;
  font-style: normal;
}
div#textWithinPicture h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  line-height: 100%;
  font-weight: 200;
  margin-bottom: 0;
  font-style: normal;
}

section#Bio {
  background-color: antiquewhite;
}

section#Achievements {
  background-color:navajowhite;
}

section#Experience {
  background-color:burlywood;
}

section#Training {
  background-color:peru;
}
