form {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
}

input {
  border: 3px solid lime;
  display: block;
  margin: 10px 0px;
  border-radius: 5px;
}

button {
  border-radius: 30px;
  border: 3px solid lime;
  background: lime;
  padding: 20px 10px;
  font-size: 20px;
}

.uppercase {
  text-transform: uppercase;
}

input {
  padding: 20px;
}